<div>topic</div>

<div>
  <h2 class="titile"><%=topic.title %></h2>
  <p class="author"><%=topic.author.loginname %></p>
  <img src="<%=topic.author.avatar_url %>" alt=""/>
  <div class="content">
    <%-topic.content %>
  </div>
</div>
